@{
    ViewData["Title"] = "Artificial Intelligence";
}

<div class="text-center">
    <h1 class="display-4 neon-text">AGI is Coming</h1>
    <p class="lead">Exploring the frontier of Large Language Models and Neural Networks.</p>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <img src="~/img/brain.jpg" class="img-fluid rounded border border-info" alt="Neural Network Visualization" />
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center">
        <h3 class="text-info">The New Electricity</h3>
        <p>
            Artificial Intelligence is not just code; it's a fundamental shift in how we process information.
            From Transformer architectures to diffusion models, we are witnessing the birth of synthetic reasoning.
        </p>
        <p>
            My hobby involves fine-tuning open-source models (like Llama 3) and exploring the ethics of
            autonomous agents in software development.
        </p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <img src="~/img/code.jpg" class="img-fluid w-75 rounded opacity-75" alt="Code Matrix" />
    </div>
</div>